[tool.poetry]
name = "hypertion"
version = "1.0.0"
description = "Streamlined and Efficient LLM function calling."
authors = ["Harsh Verma <synacktra.work@gmail.com>"]
keywords = ["function-calling", "openfunctions", "openai", "gorilla", "gpt"]
readme = "readme.md"
license = "GPL-3.0-only"
homepage = "https://github.com/synacktraa/hypertion"
repository = "https://github.com/synacktraa/hypertion"
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = ">=3.7"
pydantic = ">=1.10"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
